.second_row_div{
  display: flex;
  margin-top: 20px;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 40px;
}

.second_row_inputs{
  margin: 20px 10px;
}

.checkbox_div{
  width: 220px;
}

