.first_row_div{
  display: flex;
  margin-top: 20px;
  margin-bottom: 40px;
  align-items: center;
  flex-wrap: wrap;
}

.first_row_inputs{
  margin-left: 20px;
}

.first_row_select{
  margin: 10px 0;
  margin-left: 32px;
}

.checkbox_div{
  width: 220px;
}



